<!-- app_Cinepolis/templates/sala/ver_salas.html -->
{% extends 'base.html' %}

{% block title %}Ver Salas{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4 text-center">Listado de Salas</h2>
    <a href="{% url 'agregar_sala' %}" class="btn btn-primary mb-3"><i class="fas fa-plus me-2"></i>Agregar Nueva Sala</a>
    {% if salas %}
    <div class="table-responsive">
        <table class="table table-striped table-hover shadow-sm">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Número de Sala</th>
                    <th scope="col">Tipo de Sala</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Últ. Mantenimiento</th>
                    <th scope="col">Asientos Especiales</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sala in salas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ sala.sucursal.nombre_cine }} ({{ sala.sucursal.ciudad }})</td>
                    <td>{{ sala.numero_sala }}</td>
                    <td>{{ sala.get_tipo_sala_display }}</td>
                    <td>{{ sala.capacidad }}</td>
                    <td>
                        {% if sala.estado == 'Desocupada' %}
                            <span class="badge bg-success">{{ sala.get_estado_display }}</span>
                        {% elif sala.estado == 'Ocupada' %}
                            <span class="badge bg-danger">{{ sala.get_estado_display }}</span>
                        {% else %}
                            <span class="badge bg-warning text-dark">{{ sala.get_estado_display }}</span>
                        {% endif %}
                    </td>
                    <td>{{ sala.fecha_ultimo_mantenimiento|date:"d/m/Y" }}</td>
                    <td>{{ sala.asientos_especiales }}</td>
                    <td>
                        <a href="{% url 'actualizar_sala' sala.pk %}" class="btn btn-sm btn-info me-2" title="Editar"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'borrar_sala' sala.pk %}" class="btn btn-sm btn-danger" title="Borrar"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info text-center" role="alert">
        No hay salas registradas. ¡Empieza agregando una!
    </div>
    {% endif %}
</div>
{% endblock %}